:root {
  --green: #3AAD8E;
  --red: #B30816;
  --gold: #CACBC5;
}





/* Centraliza todo o conteúdo da página */
#formTitleContainer {
  text-align: center;
  /* Garante que o título fique no centro */
  margin-bottom: 20px;
}

#formContainer {
  display: flex;
  /* Organiza o input e o botão em linha */
  align-items: center;
  /* Alinha os itens verticalmente no centro */
  gap: 10px;
  /* Espaçamento entre o input e o botão */
  width: 100%;
  /* Garante que o formulário ocupe 100% da largura disponível */
  max-width: 500px;
  /* Largura máxima do formulário */
  margin: 0 auto;
  /* Centraliza o formulário na página */
  position: relative;
  /* Necessário para controlar a posição da lista */
  border: 1px solid purple;
  align-items: center;
  justify-content: center;
}

form#form_ {
  height: 100%;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#character {
  flex: 1;
  /* Faz com que o input ocupe o espaço restante */
  background-color: #A24651;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--gold);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#submitButton {
  padding: 10px 1px;
  font-size: 16px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#submitButton:disabled {
  background-color: transparent;
  cursor: not-allowed;
}

img#submitButtonImg {
  width: 100px;
  rotate: 90deg;

}

/* Estilos para a lista suspensa de sugestões */
.suggestions-list {
  position: absolute;
  /* A lista é posicionada de forma absoluta em relação ao contêiner do input */
  top: 100%;
  /* Garante que a lista apareça logo abaixo do input */
  left: 0;
  right: 0;
  background-color: #A24651;
  border: 1px solid var(--gold);
  list-style-type: none;
  padding: 0;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  /* Garante que a lista apareça acima de outros elementos */
  border-radius: 4%;
}

.suggestion-item {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
 
}

.suggestion-img {
  width: 40px; /* Define a largura da imagem */
  height: 40px; /* Define a altura da imagem */
  object-fit: cover; /* Ajusta a imagem para cobrir o espaço sem distorção */
  margin-right: 10px; /* Adiciona espaço entre a imagem e o nome */
  border-radius: 4px; /* Bordas levemente arredondadas */
}

.suggestion-item:hover {
  background-color: #A24651;
}

/* Estilos para a comparação horizontal */
.comparison-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;
  overflow: auto;
}

.comparison-labels,
.comparison-values {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.label-item,
.comparison-item {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.comparison-results {
  max-height: 500px;
  /* Altura máxima para a área de comparações, ajuste conforme necessário */
  overflow-y: auto;
  /* Habilita a rolagem vertical quando a altura máxima for atingida */
  padding: 10px;
  /* Espaçamento interno para o conteúdo não ficar colado nas bordas */

  margin-top: 20px;
  /* Espaçamento superior entre o formulário e a área de comparação */
}


.comparison-item {
  margin: 5px;
  padding: 10px;
  text-align: center;
  max-width: 150px;
  word-wrap: break-word;
  /* Quebra as palavras longas em múltiplas linhas */
}

.match {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
  /* Verde claro */
  border-radius: 13px;
  padding: 0;
  border: 2px solid #085e1c;
}

.mismatch {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #8d0e18;
  background-color: var(--red);
  /* Vermelho claro */
  border-radius: 13px;
  padding: 0;
}

.partial-match {
  background-color: #886602; /* Amarelo */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  padding: 0;
  border: 2px solid #aa830f;
  background-color: #886602;
}


div#sucess-messageContainer {
 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div#congratsTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.success-message {
  background-color: var(--green);
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 100%;
  border: 1px solid #FFCA4B;
  border-radius: 20px;
  position: relative;
  /* Torna o elemento posicionado relativamente */
  top: 20px;
  /* Move o elemento para baixo, semelhante ao margin-top */
}

div#colorIndicatorsContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  outline: 1px solid red;
}


div#colorIndicators {
  width: 450px;
  height: 130px;
  outline: 1px solid blue;
  text-align: center;
}

div#indicatorContainer {
  outline: 1px solid yellow;
  display: flex;
}

div#correctIndicator,
div#incorrectIndicator, div#parcialIndicator {
  width: 60px;
  outline: 1px solid white;
  margin: 20px;
  gap: 40px;
}

div#lastCharacterDetails {
  display: flex;
  align-items: center;
  justify-content: center;


}

img#lastCharacterImg {
  width: 70px;
  height: 70px;
  border: 1px solid var(--gold);
  border-radius: 10px;
}

p#lastCharacterName {
  font-size: 1.2em;
  margin: 10px;
}

div#lastCharacterSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 1px solid green;
}

div#lastCharacterTitle {
  margin-bottom: 16px;
}

div#greenSquare {
  margin: auto;
  background-color: var(--green);
  width: 32px;
  height: 32px;
}

div#redSquare {
  margin: auto;
  background-color: var(--red);
  width: 32px;
  height: 32px;
}

div#yellowSquare {
  margin: auto;
  background-color: var(--gold);
  width: 32px;
  height: 32px;
}

p#greenText {
  width: 32px;
  height: 32px;
}

p#redText {

  width: 32px;
  height: 32px;
}

p#yellowText {

  width: 32px;
  height: 32px;
}

div#characterGuessRight {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  gap: 20px;
  outline: 1px solid wheat;
}

.comparison-images {

  margin-top: 10px;
}

.comparison-img {
  width: 106%;
  /* Faz a imagem ocupar 100% da largura */
  height: 106%;
  /* Faz a imagem ocupar 100% da altura */
  object-fit: fill;
  /* Garante que a imagem cubra o contêiner, cortando as bordas se necessário */
  border: 2px solid #A24651;
  border-radius: 14px;
  /* Bordas arredondadas, opcional */
}

.image-wrapper {
  width: 150px;
  /* Defina a largura desejada para o quadrado */
  height: 150px;
  /* Defina a altura igual à largura para garantir o formato quadrado */
  overflow: hidden;
  /* Garante que a imagem não transborde o contêiner */
  position: relative;
  /* Facilita controle posicional, caso necessário */
}

img#guessedCharacterImg {
  width: 100px;
  outline: 1px solid var(--gold);
  border-radius: 10px;
}

img#previousCharacterImg {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid var(--gold);
}

div#previousCharacter {
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  outline: 1px solid white;
}


p#guessedCharacterName,
p#timeRemaining {
  font-size: 1.8em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  outline-color: 1px solid blue;
}

p#tries {
  font-size: 2em;
  margin: 20px;
}

@keyframes fadeInCell {
  0% {
    opacity: 0;
    transform: translateY(10px);
    /* Leve deslizamento de baixo */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    /* Volta à posição original */
  }
}

/* Todos os quadrados começam transparentes e recebem a animação */
.comparison-item {
  opacity: 0;
  animation: fadeInCell 0.6s ease forwards;
}



/* Definindo o atraso progressivo para cada quadrado, de acordo com a posição */
.comparison-container .comparison-item:nth-child(1) {
  animation-delay: 0s;
  /* Primeiro quadrado começa imediatamente */
}

.comparison-container .comparison-item:nth-child(2) {
  animation-delay: 0.6s;
  /* Segundo quadrado começa após o primeiro terminar */
}

.comparison-container .comparison-item:nth-child(3) {
  animation-delay: 1.2s;
  /* Terceiro quadrado começa após o segundo terminar */
}

.comparison-container .comparison-item:nth-child(4) {
  animation-delay: 1.8s;
}

.comparison-container .comparison-item:nth-child(5) {
  animation-delay: 2.4s;
}

.comparison-container .comparison-item:nth-child(6) {
  animation-delay: 3s;
}

.comparison-container .comparison-item:nth-child(7) {
  animation-delay: 3.6s;
}

.comparison-container .comparison-item:nth-child(8) {
  animation-delay: 4.2s;
}

.comparison-container .comparison-item:nth-child(9) {
  animation-delay: 4.8s;
}

.comparison-container .comparison-item:nth-child(10) {
  animation-delay: 5.4s;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
    /* Começa 20px abaixo */
  }

  to {
    opacity: 1;
    transform: translateY(0);
    /* Volta à posição original */
  }
}

.success-message {
  animation: fadeIn 1s ease-in-out, slideIn 1s ease-in-out;
}